h3 {
  margin: 10px 0;
}

h6 {
  margin: 5px 0;
  text-transform: uppercase;
  color: #1f1a36;
}

p {
  font-size: 14px;
  line-height: 21px;
}

.card-container {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  color: #b3b8cd;
  padding: 30px 0 0;
  position: relative;
  width: 350px !important;
  max-width: 100%;
  text-align: center;
  margin: 20px 0;
  overflow: hidden;
  display: grid;
  place-items: center;
  margin: 5px;
}

.card-container .pro {
  color: #231e39;
  background-color: #febb0b;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.card-container img {
  border: 1px solid #c400d7;
  border-radius: 50%;
  padding: 7px;
  height: 150px;
  width: 150px;
}

button.primary {
  background-color: #c400d7;
  border: 1px solid #c400d7;
  border-radius: 3px;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}

button.primary.ghost {
  background-color: transparent;
  color: #c400d7;
}

.skills {
  background-color: #fff;
  text-align: left;
  padding: 15px;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.skills ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.skills ul li {
  border: 1px solid #2d2747;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  margin: 0 7px 7px 0;
  padding: 7px;
  color: #1f1a36;
}
